.windowTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 100%;
}


.windowContent {
  height: calc(100% - 33px);
}

.windowScroll {
  height: 100%;
}

.windowScroll:before {
  content: unset !important;
}

.scrollContent {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

