.column {
  margin: 1px !important;
  background-color: #ffffff55;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}

.columns {
  margin: 0;
  padding: 0;
}

.columns:not(:last-child) {
  margin-bottom: unset !important
}

.mainLayout {
  width: 100%;
  height: 100%;
}

.mainScreen {
  width: 100%;
  position: relative;
}

.fullscreenLayout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}